[submodule "thirdparty/randutils"]
	path = thirdparty/randutils
	url = https://gist.github.com/540829265469e673d045.git
[submodule "thirdparty/variant"]
	path = thirdparty/variant
	url = https://github.com/mapbox/variant.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/magic_enum"]
	path = thirdparty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
